# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle words'
      'command': 'words:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Words'
      'submenu': [
        {
          'label': 'Inverse words'
          'command': 'words:inverse'
        }
      ]
    ]
  }
]
